doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} 
        link(rel="stylesheet", href="/css/main.css")
    body 
        .pug-container 
            h1 404 Page Not Found
            img(src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvam9iNjc5LTAzNC1sMTFudzB3NS5qcGc.jpg?s=XcRr10X9xoI4h2hMUHMbwBecXcqFoQD6ndQJ6RaTA2s", alt="Image Not Found")