doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
    body
      .dolphin-container 
        h1 A List Of All Dolphins
        ul
          each dolphin in dolphins 
            - const {name, age, owner} = dolphin 
            h3 Name: !{name}
            li Age: !{age}
            li Mood: !{mood}

      //-
        <body>
          <div class="dolphin-container">
            <h1>A List Of All Dolpins</h1>
            <ul>
              <h3>Name: </h3>
              <li>Age: </li>
              <li>Owner: </li>
            </ul>
          </div>
        </body>